%p#notice= notice

%img{ :src => 'http://dribbble.s3.amazonaws.com/users/16521/screenshots/1244135/attachments/168775/RP.jpg', :style => 'margin-top: -100px' }

-#
  = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Back', users_path
