%p
  Мы любим крыши!
  %br/
  Мы любим проводить на них время, общаться, делиться мылями, наблюдать за городом, удивлять и радовать любимых.
  %br/
  Мы считаем что данная информация должна быть собрана в одном удобном месте, но контроллироваться, что бы не допустить
  беспорядков и скоротечного закрытия крыш.
%p
  Мы создали этот проект для вас - для тех кто:
  %ul
    %li стремится вверх
    %li любит городской пейзаж с высоты
    %li хочет устраивать сюрпризы
    %li любит уединиться от городской суеты
    %li хочет открывать свой город раз за разом на другой высоте